### keyboard ###

#setxkbmap eu &

### Multiple Monitor ###
xrandr --output HDMI-1 --mode 1920x1080 --pos 1600x0 --rotate normal  --output VGA-1 --mode 1680x1050 --pos 0x180 --rotate normal --left-of HDMI-1

#xrandr --output HDMI1 --mode 1920x1080 --primary --output VGA1 --auto --left-of HDMI1

### Status Bar ###
dwmstatus 2>&1 >/dev/null &

### Usb Port Detect ###
#udiskie -t &

### Define Java Environment ###
#export _JAVA_AWT_WM_NONREPARENTING=1

